@import url("https://fonts.cdnfonts.com/css/seven-segment");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.app {
	display: flex;
	padding-top: 30px;
	padding-left: 2px;
	padding-right: 2px;
	align-items: center;
	justify-content: center;
	background: inherit;
	margin: auto;
}

.scoreboard {
	display: flex;
	width: 96%;
	padding: 5px;
	border: 0px solid blue;
}
.scoreboards {
	width: 90%;
	font-family: monospace;
	font-size: 1.5em;
	border: 0px solid red;
}
.spacer {
	width: 3%;
}

.scoreboardres {
	font-family: "seven segment", sans-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: unset;
	color: red;
	border: 0px solid black;
	width: 40%;
	text-align: right;
	margin: auto;
}

.game {
	position: relative;
}

.graycover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	opacity: 0.5;
	z-index: 80;
	transition: opacity 2s;
}

.dialog {
	display: block;
	position: absolute;
	background: red;
	width: 70%;
	padding: 10px;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 99;
	font-size: 2em;
	opacity: 1;
	transition: opacity 2s;
}
.nextlevel {
	top: 40%;
	z-index: 99;
}

#hideelement {
	opacity: 0;
	width: 0%;
	visibility: hidden;
}
.dialog:hover {
	cursor: pointer;
}
